body {
    font-family: sans-serif;
    text-align: center;
    background: #fafafa;
    margin-top: 50px;
  }
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  input[type="file"], input[type="range"], input[type="text"], input[type="password"], button {
    margin: 10px 0;
    display: block;
    width: 90%;
    padding: 10px;
  }
  button {
    padding: 10px;
    background: #008cba;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  button:hover {
    background-color: #006f9a;
  }
  